body{
    background-color: black;
    font-family: monospace;
    background-image: url('images/corpus_analysis_background.png');
}
h1{
    font-size: 50px;
    margin-bottom: 5px;
    margin-bottom: 0px;
    color: limegreen;
}
p.caption{
    bottom: 60px;
}
.logo {
    position: relative;
    animation-name: opening;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#page-about {display:block;}
#page-projects {display:none;}
#page-resume {display:none;}
#page-gallery {display:none;}
#page-reflective {display:none;}
#page-conspiracy {display:none;}
a{
    text-decoration: inherit;
    color: limegreen;
}
a:hover{
    text-decoration: inherit;
    color: white;
    cursor: pointer;
}

nav {
    position: relative;
    animation-name: navigation;
    animation-delay: 0.3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    word-spacing: 30px;
    font-size: 15px;
    margin-bottom: 40px;
    
}

div.top{
    margin: auto;
    text-align: center;
}

img.portrait{
    width: 20em;
    display: inline;
    float: right;
}

img.figure{
    width: 500px;
}

.main{
    border: 2px solid limegreen;
    width: 65vw;
    margin: auto;
    background-color: black;
    overflow-y: scroll;
}
.content{
    color: limegreen;
    width: 60vw;
    margin: auto;
}

figure{
    border: 2px dotted limegreen;
    margin: auto;
}

.column {
  float: left;
  width: 33.33%;
  padding: 50px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 25px;;
}


h2.mainHeader{
    text-align: center;
    letter-spacing: 5px;
    animation-name: header;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    font-size: 25px;
}

p{
    color: limegreen;
    margin: 15px;
    margin-left: 20px;
    margin-right: 25px;
    font-size: 18px;
}

.updatedText{
	color: limegreen;;
	text-align: center;
}

h3{
	text-align: center;
    margin: auto;
    font-size: 20px;
    
}

h3.art{
    margin: auto;
    text-align: center;
    
}
ul{
    margin-left: 60px;
    
}

hr{
    color: limegreen;
    width: 75%;
}
dateText{
    float: right;
}