body{
    background-color: black;
    font-family: arial, helvetica, sans-serif;
}
h1{
    font-size: 50px;
    margin-bottom: 5px;
    margin-bottom: 0px;
}

.art{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.back{
	position: relative;
	text-align: center;
	margin: auto;
	text-decoration-line: underline;
}

.logo {
    position: relative;
    animation-name: opening;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#page-about {display:block;}
#page-projects {display:none;}
#page-resume {display:none;}
#page-gallery {display:none;}
#page-reflective {display:none;}

a{
    text-decoration: inherit;
    color: inherit;
}
a:hover{
    text-decoration: inherit;
    color: grey;
    cursor: pointer;
}

@keyframes opening{
    from{ top:-5px; color: black; }
    to{ top:25px; color: white; }
}
@keyframes navigation{
    from{ top:5px; color: black; }
    to{ top:25px; color: white; }
}
@keyframes header{
    from{ left: 60px; letter-spacing:70px; color: black;}
    to{ left: 0px; letter-spacing:1px; color: white; }
}

nav {
    position: relative;
    animation-name: navigation;
    animation-delay: 0.3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    word-spacing: 30px;
    margin-bottom: 40px;
    
}

div.top{
    margin: auto;
    text-align: center;
}

img.portrait{
    width: 20em;
    display: inline;
    float: right;
}

.main{
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-radius: 25px;
    width: 74vw;
    margin: auto;
}
.content{
    color: white;
    width: 72.5vw;
    height:77vh;
    margin: auto;
    overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
  height: 76vh;
}
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 25px;;
}


.mainHeader{
    text-align: center;
    letter-spacing: 5px;
    animation-name: header;
    animation-duration: 0s;
    animation-fill-mode: forwards;
}

p{
    margin: 15px;
    margin-left: 20px;
    margin-right: 25px;
}

.updatedText{
	color: white;
	text-align: center;
}

h3{
    margin-left: 20px;
    
}

h3.art{
    margin: auto;
    text-align: center;
    
}
ul{
    margin-left: 60px;
    
}

hr{
    color: white;
    width: 75%;
}
dateText{
    float: right;
}