body{
    background-color: black;
    font-family: arial, helvetica, sans-serif;
}
h1{
    font-size: 45px;
    margin-bottom: 5px;
}
.logo {
    position: relative;
    animation-name: opening;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#page-about {display:block;}
#page-projects {display:none;}
#page-resume {display:none;}

a{
    text-decoration: inherit;
    color: inherit;
}
a:hover{
    text-decoration: inherit;
    color: grey;
    cursor: pointer;
}

@keyframes opening{
    from{ top:-5px; color: black; }
    to{ top:25px; color: white; }
}
@keyframes navigation{
    from{ top:-5px; color: black; }
    to{ top:25px; color: white; }
}
@keyframes header{
    from{ left: 60px; letter-spacing:70px; color: black;}
    to{ left: 0px; letter-spacing:1px; color: white; }
}

nav {
    position: relative;
    animation-name: navigation;
    animation-delay: 0.3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    word-spacing: 30px;
    margin-bottom: 40px;
    
}

div.top{
    margin: auto;
    text-align: center;
}

img.portrait{
    width: 20em;
    display: inline;
    float: right;
}

.main{
    border-top: 3px solid white;
    border-radius: 25px;
    color: white;
    width: 75%;
    margin: auto;
}

.mainHeader{
    text-align: center;
    letter-spacing: 5px;
    animation-name: header;
    animation-duration: 0s;
    animation-fill-mode: forwards;
}

p{
    margin: 15px;
    margin-left: 40px;
    margin-right: 25px;
}

h3{
    margin-left: 20px;
    text-decoration-line: underline;
    
}
ul{
    margin-left: 60px;
    
}
dateText{
    float: right;
}